/* CSS Document */

html {
	font-size: 100%; 
}

.navbar-brand {
	font-size: 120%; 
}

#profileImg {
	background: url(https://via.placeholder.com/150x150);
	width: 150px;
	height: 150px;
	margin: auto; 
}


